version: '3'

networks:
    web:
        external: true

services:
    resume-frontend:
        container_name: resume-frontend
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            - '.:/app'
        networks:
            - web
        environment:
            - NODE_ENV=production
        labels:
            - traefik.http.routers.resume.rule=Host(`tpham.dev`, `www.tpham.dev`)
            - traefik.http.routers.resume.tls=true
            - traefik.http.routers.resume.tls.certresolver=mydnschallenge
            - traefik.port=80
