$terminal: 'tp_terminal';
$terminalHeader: 'tp_terminal_header';
$terminalBody: 'tp_terminal_body';
$terminalPrompt: 'tp_terminal_prompt';
$terminalDir: 'tp_terminal_dir';
$terminalInput: 'tp_terminal_input';
$terminalActualInput: 'tp_actual_input';

.#{$terminal} {
    height: 500px;
    width: 50vw;
    background-color: rgb(61, 59, 59);
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: monospace;
    line-height: 1.5rem;

    .#{$terminalHeader} {
        display: flex;
        width: 100%;
        height: 30px;
        align-items: center;
        padding: 0 8px;
        box-sizing: border-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: linear-gradient(#504b45 0%, #3c3b37 100%);
    }

    .#{$terminalBody} {
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        background: rgb(11 28 37 / 90%);
        padding-top: 2px;
        margin-top: -1px;
        color: white;

        .#{$terminalPrompt} {
            display: flex;
            flex-direction: column;

            .#{$terminalDir} {
                margin-left: 5px;
            }

            .#{$terminalInput} {
                margin-left: 15px;

                .#{$terminalActualInput} {
                    background-color: transparent;
                    border: transparent;
                    color: white;
                    font-family: monospace;
                    font-size: 1rem;
                    outline: transparent;
                    padding-left: 1rem;
                    width: 100%;
                }

                .#{$terminalActualInput}:focus {
                    border: transparent;
                }
            }
        }
    }
}
