$sidebar: 'tp_sidebar';
$linkLists: 'tp_linkList';

.#{$sidebar} {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-right: grey solid;
    height: 100vh;
    width: 175px;

    .ui.vertical.text.menu {
        width: 12rem;

        .header.item {
            font-size: 25px;
            text-transform: initial;
        }
    }

    .#{$linkLists} {
        display: flex;
        justify-content: space-evenly;
    }
}
