$app: 'tp_app';
$content: 'tp_content';

html {
    padding: 0.5rem;
    font-size: 14px;
}

.#{$app} {
    display: flex;
    gap: 5rem;

    background-color: #fff;
    background-image: linear-gradient(#eee 0.1em, transparent 0.1em);
    background-size: 100% 1.2em;
    .#{$content} {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
